#editor {
  background-color: white;
  margin: 10px;
  height: 500px;
  width: auto;
  overflow: scroll;
}

.html {
  opacity: 0.5;
}

code {
  background-color: #323232 !important;
  color: white !important;
  border-radius: 3px;
  font-family: monospace;
}

.toolbar {
  background-color: #323232 !important;
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.toolbar-item {
  margin: 5px;
  padding: none;
  display: block;
}
